.navbar 
  .navbar-inner
    .container
      %ul.nav
        %li 
          = link_to 'Blogs Home',  root_path  
        %li
          = link_to 'Blog Index',blogs_path
        %li
          = link_to 'My Blogs',blogs_path
        %li
          = link_to 'Contact Us'
        