%p
  %b Commenter:
  = comment.name
%p
  %b Comment:
  = comment.body
%p
  = link_to 'Destroy Comment', [comment.blog, comment], |
  :confirm => 'Are you sure?',                        |
  :method => :delete